body {
  margin: 0;
  padding: 0;
  background: #d77a61;
}
#text {
  display: block;
  font-family: "Montserrat";
  color: white;
  font-size: 40px;
  text-transform: uppercase;
}

.button {
  position: relative;
  display: block;
  text-align: center;
  margin-top: 300px;
  margin-left: 0;
  align-items: center;
}

.button1 {
  margin: 10px;
  background: none;
  color: white;
  border: 2px solid white;
  cursor: pointer;
  font-size: 20px;
  border-radius: 8px;
  transition-duration: 0.2s;
}
.button1:hover {
  background-color: teal;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.button1:active {
  transform: translateY(5px);
}
